body {
    font-family: Arial, sans-serif;
    margin: 20px;
    position: relative;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 600px;
    max-width: 90%;
}

.modal-header {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: move;
}

.modal-header h3 {
    margin: 0;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover {
    color: black;
}

.modal-content {
    padding: 15px;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

.modal-window.active {
    border: 2px solid #007bff; /* Голубая рамка для активного окна */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Подсветка активного окна */
}