<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ project.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='project.js') }}"></script>
</head>

<body>
    <h1>{{ project.name }}</h1>
    <a href="{{ url_for('projects') }}">Back to Projects</a>
    <div id="graphCanvas" style="width: 100%; height: 600px; border: 1px solid #ccc;"></div>

    {% if nodes %}
    <script>
        const nodes = {{ nodes | tojson }};
        const edges = {{ edges | tojson }};
        const projectId = "{{ project.id }}";
        const initialNodePositions = {{ node_positions | tojson }}; // Получаем позиции узлов из шаблона

        // Инициализация графа и модальных окон
        initProject(nodes, edges, projectId, initialNodePositions);
    </script>
    {% endif %}
</body>

</html>